<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>viewing specific post</title>
    <link rel="stylesheet" href="/style.css"> 
</head>
<body>
    <h3>Specific post you requested</h3>
    <div class="posts">
        <p><%=post.id%></p>
        <img height="100px" width="100px" src="/<%=post.image%>.jpg" alt="no-img">
        <p><%=post.caption%></p>
        <p><%=post.image%></p>

    </div>
    
</body>
</html>